{echo:JS::import('form')}
  <div class="com-content-area" id="js-com-content-area">
<!--content-->
 <div class="page-role login-page">
<div class="page-title"><a href="javascript:history.back();void(0)" class="return">返 回</a>登录<a href="{url:/simple/reg}">注册<i></i></a></div>
<div class="pxui-form-info">
	<form action="{url:/simple/login_act}" method="post" callback="checkReadme"style="padding-left:15px;"class="pxui-form-info">
		<input type="hidden" name="redirectURL" value="{$redirectURL|$this->perPage()}">
	<p class="error-msg" id="js-error-msg"></p>
			  <div><span>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</span><p><span><input class="input"  name="email" id="email"  pattern="email" alt="邮箱格式不正确"placeholder="邮箱" type="text" value=""/></span></p></div>	 
		<div><span>密&nbsp;&nbsp;&nbsp;&nbsp;码</span><p><span><input type="password" class="input" name="password" pattern="required" alt="密码不能为空！"></span></p></div>
		<div><span>&nbsp;</span><p><span><input type="submit" class="pxui-light-button" value="登录"></span></p>
		<input name="autologin" id="readme" type="checkbox" value="1"><label>自动登录</label> <label>[<a href="{url:/simple/forget_password}">忘记密码?</a>]</label></div>
	</form>
</div>
<div class="pxui-form-info">
	<ul>
		{if:!empty($oauth_login)}
		<h3 style="padding-left:100px;"class="pxui-color-blue">使用小伙伴们的账号登录</h3>
	<div class="pxui-form-info pxui-other-login">
				<dd class="mt15 outh-list">{list:items=$oauth_login}
					<a href="{$item['url']}"><img src="{url:@protected/classes/oauth/logo/$item[icon]}" ><div class="tc">{$key}</div></a>
					{/list}
				</dd>
			</dl>
		</li>
		{/if}
	</ul>
	<div class="tc"></div>
</div>
</div>
<script type="text/javascript">
	$("input[name='email']").on("change",function(event){
		if(autoValidate.validate(event)){
			$.post("{url:/ajax/email/email/}"+$(this).val(),function(data){
				var msg = '合法用户';
				if(data['status']) msg = '用户不存在';
			autoValidate.showMsg({id:document.getElementById('email'),error:data['status'],msg:msg});
		},'json');
		}
	});
	{if:isset($invalid)}
		var form = new Form();
		form.setValue('email', '{$email}');
		autoValidate.showMsg({id:$("input[name='{$invalid['field']}']").get(0),error:true,msg:"{$invalid['msg']}"});
	{/if}
</script>